<!-- <div class="container" id=" second">
    <div class="myform form ">
        <div class="logo mb-3">
            <div class="col-md-12 text-center">
                <h1>Đăng ký tài khoản</h1>
            </div>
        </div>
        <form action="#" [formGroup]="singupForm" (ngSubmit)="singupUser()" name="registration">
            <div class="form-group">
                <label for="exampleInputEmail1"> Name</label>
                <input type="text" name="firstname" class="form-control" formControlName="name">
                <span *ngIf="name && name.invalid && name.touched">truong fistname la bat buoc</span>

            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" formControlName="email">
                <span *ngIf="email && email.invalid && email.touched">truong email la bat buoc</span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" name="password" class="form-control" formControlName="password">
                <span *ngIf="password&& password.invalid && password.touched">truong password la bat
                    buoc</span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">comfirm</label>
                <input type="password" name="password" class="form-control" formControlName="confirmPassword">
                <span *ngIf="confirmPassword&& confirmPassword.invalid && confirmPassword.touched">truong
                    comfirmPassword la
                    bat
                    buoc</span>
                <div *ngIf="
                                    singupForm.hasError('notMatch') &&
                                    (singupForm.get('confirmPassword')?.touched ||
                                        singupForm.get('confirmPassword')?.dirty)
                                ">
                    Mật khẩu không khớp
                </div>
            </div> <br>

            <div class="col-md-12 text-center mb-3">
                <button type="submit" [disabled]="!singupForm.valid" class=" btn btn-block mybtn btn-primary tx-tfm">SIGN UP</button>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <p class="text-center"><a href="#" id="signin">Already have an account?</a></p>
                </div>
            </div>
        </form>
    </div>

</div> -->



<div class="container">

    <div class="logo mb-3">
        <div class="col-md-12 text-center">
            <h1>Signin</h1>
        </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" />
            <span *ngIf="email && email.invalid && email.touched">truong email la bat buoc</span>
        </div>

        <div class="form-group">
            <label>Mật khẩu</label>
            <input type="password" class="form-control" formControlName="password" />
            <span *ngIf="password&& password.invalid && password.touched">truong password la bat
                buoc</span>
        </div> <br><br>

        <button type="submit" class="btn btn-primary">Signin</button>

    </form>
</div>