<div id="second">
    <div class="myform form ">
        <div class="logo mb-3">
            <div class="col-md-12 text-center">
                <h1>Signup</h1>
            </div>
        </div>
        <form action="#" [formGroup]="singupForm" (ngSubmit)="singupUser()" name="registration">
            <div class="form-group">
                <label for="exampleInputEmail1"> Name</label>
                <input type="text" name="firstname" class="form-control" formControlName="name">
                <span *ngIf="name && name.invalid && name.touched">truong fistname la bat buoc</span>

            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" formControlName="email">
                <span *ngIf="email && email.invalid && email.touched">truong email la bat buoc</span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" name="password" class="form-control" formControlName="password">
                <span *ngIf="password&& password.invalid && password.touched">truong password la bat
                    buoc</span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">comfirm</label>
                <input type="password" name="password" class="form-control" formControlName="confirmPassword">
                <span *ngIf="confirmPassword&& confirmPassword.invalid && confirmPassword.touched">truong
                    comfirmPassword la
                    bat
                    buoc</span>
            </div>
            <div class="col-md-12 text-center mb-3">
                <button type="submit" [disabled]="!singupForm.valid" class=" btn btn-block mybtn btn-primary tx-tfm">Get
                    Started For
                    Free</button>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <p class="text-center"><a href="#" id="signin">Already have an account?</a></p>
                </div>
            </div>
        </form>
    </div>

</div>