<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form action="#" [formGroup]="singupForm" (ngSubmit)="singupUser()" name="registration">
                                <div class="form-outline mb-4">
                                    <input type="text" name="firstname" id="form3Example1cg"
                                        class="form-control form-control-lg" formControlName="name" />
                                    <label class="form-label" for="form3Example1cg">Your Name</label>
                                    <span *ngIf="name && name.invalid && name.touched">truong fistname la bat
                                        buoc</span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" name="email" id="form3Example3cg"
                                        class="form-control form-control-lg" formControlName="email" />
                                    <label class="form-label" for="form3Example3cg">Your Email</label>
                                    <span *ngIf="email && email.invalid && email.touched">truong email la bat
                                        buoc</span>

                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="form3Example4cg"
                                        class="form-control form-control-lg" formControlName="password" />
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                    <span *ngIf="password&& password.invalid && password.touched">truong password la bat
                                        buoc</span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="form3Example4cdg"
                                        class="form-control form-control-lg" formControlName="confirmPassword" />
                                    <label class="form-label" for="form3Example4cdg">Confirm password</label>
                                    <span
                                        *ngIf="confirmPassword&& confirmPassword.invalid && confirmPassword.touched">truong
                                        comfirmPassword la bat
                                        buoc</span>
                                    <div *ngIf="
                                      singupForm.hasError('notMatch') &&
                                      (singupForm.get('confirmPassword')?.touched ||
                                          singupForm.get('confirmPassword')?.dirty)
                                  ">
                                        Mật khẩu không khớp
                                    </div>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value=""
                                        id="form2Example3cg" />
                                    <label class="form-check-label" for="form2Example3g">
                                        I agree all statements in <a href="#!" class="text-body"><u>Terms of
                                                service</u></a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" [disabled]="!singupForm.valid"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Sign
                                        up</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/signin"
                                        class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>