<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table class="container tableColums" id="datatablesSimple">
            <thead>
                <tr>
                    <th>stt</th>
                    <th>name</th>
                    <th>email</th>
                    <th>password</th>
                    <th>comfim</th>

                    <th>chuc vu</th>




                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let product of product,index as i">
                    <td>{{i+1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.email}}</td>
                    <td>{{product.password}}</td>
                    <td>{{product.confirmPassword}}</td>
                    <td>{{product.role}}</td>


                    <td></td>
                    <td><button class="btn btn-primary" (click)="onhandleRemove(product.id!)">xoa</button> </td>
                    <td><button class="btn btn-primary" [routerLink]="'edit/'+product.id">edit</button> </td>
                </tr>

            </tbody>
        </table>
    </div>
    <main><router-outlet /></main>

</div>