<section class="text-center mt-4 bg-light-subtle" *ngIf="categories && categories.length">
    <h1>Danh mục nổi bật</h1>
    <div class="row rounded">
        <div class="col-2 shadow-sm" *ngFor="let category of categories" (click)="onCategoryClick('' + category.id)">
            <img [src]="category.img" alt="" width="120">
            <p>{{category.name}}</p>
        </div>
    </div>
</section>
<!-- PRODUCTS LIST -->
<section class="text-center mt-4 bg-light-subtle">
    <h1>Điện thoại bán chạy</h1>
    <div class="row">
        <div class="col-3 shadow-sm p-3" *ngFor="let product of filteredProducts">
            <a routerLink="/product/{{product.id}}">
                <img [src]="product.img" alt="" width="160">
            </a>
            <p>
                <a class="text-decoration-none fw-semibold text-dark" routerLink="/products/{{product.id}}">
                    {{product.name}}
                </a>
            </p>
            <div>
                <span class="text-danger">{{product.price}} đ</span>
                <del class="text-body-tertiary">$12 đ</del>
            </div>
            <a routerLink="/products/{{product.id}}" class="btn btn-danger px-5">View</a>
        </div>
    </div>
</section>